@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Check the <a href="https://github.com/nasirsinani/Assignment.CoursesManagement">source code</a> of the assignment.</p>
</div>
